<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="theme-color" content="#dbd7d1"><title>Online Drophouse Stockfish</title>
        <link rel="stylesheet" href={{ static("chessground.css") }}>
        <link rel="stylesheet" href={{ static("board.css") }} crossorigin="anonymous">
        <link rel="stylesheet" href={{ static("piece/standard/empty.css") }}>

        <link rel="stylesheet" href={{ static("extensions.css") }}>
        <link rel="stylesheet" href={{ static("style.css") }}>
        <link rel="stylesheet" href={{ static("preview.css") }}>

        <link rel="stylesheet" href={{ static("site.css") }}>
        <link rel="stylesheet" href={{ static("reconnecting.css") }}>
        <link rel="stylesheet" href={{ static(view_css) }}>
        <link rel="icon" href={{ static("favicon/favicon.ico") }} type="image/x-icon" />
    </head>

    <body id="pychess-variants" style="--cgwrapwidth: 600px; --cgwrapheight: 800px; --zoom:80;" 
                                data-view="{{ view }}"
                                data-asset-url="{{ asseturl }}"
                                data-lang="{{ lang }}"
                                data-home="{{ home }}"
                                data-user="Anon"
                                data-anon="{{ anon }}"
                                data-country="{{ country }}"
                                data-gameid="{{ gameid }}"
                                data-tournamentid="{{ tournamentid }}"
                                data-tournamentname="{{ tournamentname }}"
                                data-inviter="{{ inviter }}"
                                data-ply="{{ ply }}"
                                data-date="{{ date }}"
                                data-result="{{ result }}"
                                data-status="{{ status }}"
                                data-profile="{{ profile }}"
                                data-title="Online Drophouse Stockfish"
                                data-variant="crazyhouse"
                                data-chess960="{{ chess960 }}"
                                data-rated="{{ rated }}"
                                data-level="{{ level }}"
                                data-wplayer="{{ wplayer }}"
                                data-wtitle="{{ wtitle }}"
                                data-wrating="{{ wrating }}"
                                data-wrdiff="{{ wrdiff }}"
                                data-bplayer="{{ bplayer }}"
                                data-btitle="{{ btitle }}"
                                data-brating="{{ brating }}"
                                data-brdiff="{{ brdiff }}"
                                data-fen="{{ fen }}"
                                data-base="{{ base }}"
                                data-inc="{{ inc }}"
                                data-byo="{{ byo }}">    

        {% block content %}{% endblock %}

</body>

{% block js %}{% endblock %}
</html>

